.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.header {
  background-color: #f7e296;
  height: 300px;
  margin-top: 40px;
}
.header__container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 60px;
  box-sizing: border-box;
}
.page-logo__img {
  width: 163px;
  height: 35px;
  cursor: pointer;
}
.header__logo {
  margin-top: -59px;
  display: inline-block;
}
.search-form__input {
  background-color: transparent;
  width: 114px;
  height: 20px;
  margin-left: 61px;
  border: none;
}

.logotypes img {
  filter: saturate(0%) opacity(50%);
  transition: 0.3s ease;
}
.logotypes img:hover {
  filter: none;
}
.footer__icon:hover {
  filter: opacity(60%);
}
.footer__icon:active {
  filter: opacity(30%);
}
.footer__logo:hover {
  filter: opacity(60%);
}
.footer__logo:active {
  filter: opacity(30%);
}
.page-logo__img:hover {
  filter: opacity(60%);
}
.page-logo__img:active {
  filter: opacity(30%);
}
