/* ПЕРЕМЕННЫЕ */
:root {
  --basic-black-color: #000000;
  --basic-white-color: #ffffff;
  --dark-color: #363636;
  --basic-grey-color: #464646;
  --half-grey-color: #7e7e7e;
  --grey-light-color: #e5e5e5;
  --basic-special-yellow-color: #f7e296;
  --special-green: #91c92f;
  --special-yellow-dark: #f0c52e;
  --grey-shade: #f2f2f2;
  --grey-pagination: #ebebeb;
  --grey-catalog-filter: #dcdcdc;
  --transparent-color: transparent;

  --basic-font: "Gilroy", "Arial", sans-serif;
  --second-font: "Open Sans", "Tahoma", sans-serif;
}

/* ШРИФТЫ */
@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: local("Gilroy"), url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: local("Gilroy"), url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans"), url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: local("Open Sans"), url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

/* БАЗОВАЯ РАЗМЕТКА */

.page {
  height: 100%;
}

.page__body {
  font-family: var(--basic-font);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

.site-nav__list,
.user-nav__list,
.nav-catalog__list,
.slider__list,
.popular__list,
.about-us__list,
.social,
.user-nav,
.breadcrumbs,
.product-color__list,
.product-functions__list,
.sorting__list,
.pagination__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  box-sizing: border-box;
  padding: 0 140px;
  margin: 0 auto;
}

/* БАЗОВАЯ ТИПОГРАФИЯ */

.base-title {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.button {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 800;
  border: none;
  background-color: var(--transparent-color);
  color: var(--basic-black-color);
  cursor: pointer;
}

.header {
  margin-top: 40px;
}
.header__container {
  min-height: 300px;
  background-color: var(--basic-special-yellow-color);
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 60px;
  box-sizing: border-box;
}
.page-logo__img {
  width: 163px;
  height: 35px;
  cursor: pointer;
}
.header__logo {
  margin-top: -20px;
  display: inline-block;
}

.user-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.user-nav__list {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.user-nav__input {
  font-family: var(--second-font);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  background-color: var(--transparent-color);
  padding: 5px 10px 5px 38px;
  min-width: 106px;
  border: none;
}

/* .user-nav__form::before {
  content: url(../img/icons/icon-search.svg);
} */

.user-nav__button {
  font-family: var(--second-font);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--basic-black-color);
  background-color: var(--transparent-color);
  border: 2px solid var(--basic-black-color);
  display: none;
}

.user-nav__item--compare {
  margin-left: auto;
  margin-right: 40px;
}

.user-nav__button:hover {
  background-color: var(--basic-black-color);
  color: var(--basic-white-color);
}

.user-nav__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-nav__link {
  font-family: var(--second-font);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black-color);
  position: relative;
  padding-left: 25px;
}

.user-nav__link::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.user-nav__link--color {
  color: rgba(255, 255, 255, 0.7);
}

.user-nav__link--exit {
  padding-left: 16px;
}

/* .user-nav__link--exit::before {
  background: url(../img/icons/icon-exit.svg);
  width: 9px;
  height: 9px;
}

.user-nav__link--compare::before {
  background: url(../img/icons/icon-compare.svg);
  width: 10px;
  height: 10px;
}

.user-nav__link--bascet::before {
  background: url(../img/icons/icon-cart.svg);
  width: 10px;
  height: 10px;
} */

.site-nav {
  margin-top: 45px;
}

.site-nav__list {
  display: grid;
  grid-template-columns: 50% min-content min-content 1fr;
}

.site-nav__link:hover ~ .nav-catalog,
.site-nav__link:focus ~ .nav-catalog {
  display: flex;
}

.site-nav__item--delivery {
  margin-right: 35px;
  margin-left: 20px;
}

.site-nav__item--contacts {
  justify-self: end;
  margin-right: -4px;
}

.site-nav__link {
  font-family: var(--basic-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black-color);
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* .site-nav__link--plus::after {
  content: url(../img/icons/icon-plus.svg);
 }  */

.nav-catalog {
  display: none;
}

.nav-catalog:hover {
  display: flex;
}

.nav-catalog__link {
  font-family: var(--second-font);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black-color);
}

.slider__col--left {
  padding-left: 89px;
  margin-top: -129px;
}

.slider__col--right {
  margin-top: -36px;
  padding-left: 20px;
}

.slider__slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.slider__slide--2,
.slider__slide--3 {
  display: none;
}

.slider__quote {
  font-family: var(--basic-font);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black-color);
}

.slider__text {
  font-family: var(--second-font);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black-color);
  margin-top: 27px;
}

.slider__button {
  display: inline-block;
  margin-top: 44px;
  padding-left: 44px;
}

.slider__table {
  margin-top: 59px;
  border-collapse: collapse;
}

.slider__table-heading {
  padding-right: 60px;
  padding-bottom: 14px;
  font-family: var(--basic-font);
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: var(--basic-black-color);
}

.slider__table-cell {
  font-family: var(--basic-font);
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--basic-black-color);
}

.popular {
  min-height: 407px;
  padding-top: 115px;
  padding-bottom: 49px;
  box-sizing: border-box;
}

.popular__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  background: var(--basic-special-yellow-color);
}

.popular__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
}

.popular__item {
  width: 160px;
}

.popular__text {
  font-family: var(--basic-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black-color);
  display: inline-block;
  margin-top: 38px;
}

.popular__item:nth-child(4) .popular__text {
  letter-spacing: 0em;
}

.service {
  min-height: 288px;
  margin-top: 34px;
}

.service__container {
  display: grid;
  grid-template-columns: 284px 1fr;
}

.service__col-left {
  border-right: 7px solid var(--basic-black-color);
  padding-top: 88px;
  padding-bottom: 49px;
}

.service__col-right {
  padding-top: 32px;
  padding-left: 116px;
}

.service__button {
  display: block;
  margin-left: 13px;
  margin-bottom: 37px;
}

.service__tittle {
  font-family: var(--basic-font);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black-color);
}

.service__text {
  font-family: var(--second-font);
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: var(--basic-black-color);
}

.logotypes {
  min-height: 100px;
  margin-top: 158px;
}

.logotypes__container {
  display: flex;
  justify-content: space-between;
}

.logotypes__img {
  filter: saturate(0%) opacity(50%);
  transition: 0.3s ease;
}

.logotypes img:hover {
  filter: none;
}
.footer__icon:hover {
  filter: opacity(60%);
}
.footer__icon:active {
  filter: opacity(30%);
}
.footer__logo:hover {
  filter: opacity(60%);
}
.footer__logo:active {
  filter: opacity(30%);
}
.page-logo__img:hover {
  filter: opacity(60%);
}
.page-logo__img:active {
  filter: opacity(30%);
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 127px;
  margin-top: 104px;
}

.about-us {
  width: 473px;
}

.about-us__title {
  font-family: var(--basic-font);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black-color);
}

.about-us__text {
  font-family: var(--second-font);
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black-color);
}

.about-us__text--margin {
  margin-top: 41px;
}

.about-us__list {
  margin-top: 59px;
}

.about-us__item {
  font-family: var(--basic-font);
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: var(--basic-black-color);
  margin-bottom: 15px;
  padding-left: 32px;
}

.about-us__button {
  display: inline-block;
  margin-top: 62px;
  width: 260px;
  text-align: center;
  padding-left: 3px;
}

.contacts {
  width: 560px;
}

.contacts__map {
  display: inline-block;
  margin-top: 26px;
}

.contacts__title {
  font-family: var(--basic-font);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black-color);
}

.contacts__text {
  font-family: var(--second-font);
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: var(--basic-black-color);
}

.contacts__button {
  display: inline-block;
  margin-top: 80px;
  width: 260px;
  text-align: center;
  padding-left: 2px;
}

.footer {
  background: var(--dark-color);
  min-height: 324px;
  margin-top: 87px;
}

.footer__col-left {
  margin-top: 64px;
}

.footer__list {
  display: flex;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__col-center {
  margin-top: 93px;
  max-width: 423px;
}

.footer__address {
  font-family: var(--second-font);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white-color);
  font-style: normal;
  margin-top: 36px;
  padding-left: 0.5px;
}

.footer__link {
  color: var(--basic-white-color);
}

.footer__item:not(:last-child) {
  margin-right: 33px;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 67px;
}

.social__item:not(:first-child) {
  margin-left: 20px;
}

.social__link {
  opacity: 0.3;
}
.social__link:hover {
  opacity: 0.6;
}

.social__link:active {
  opacity: 0.1;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  padding-left: 43px;
}

.phone {
  font-family: var(--second-font);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white-color);
  display: block;
  margin-top: 73px;
  text-align: right;
}

.footer__icon {
  display: block;
  margin-top: 67px;
  text-align: end;
}

.feedback {
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 76px 100px;
  background: var(--basic-white-color);
  width: 960px;
  height: 550px;
  position: absolute;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.15);
  display: none;
}

.feedback__form {
  height: 100%;
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 40px;
  grid-template-areas:
    ". ."
    "textarea textarea"
    ". .";
}

.feedback__wrapper {
  grid-area: textarea;
}

.feedback__label {
  display: block;
  font-family: var(--basic-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black-color);
  margin-bottom: 9px;
}

.feedback__input {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.4);
  background-color: var(--grey-shade);
  border: none;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 4px;
}

.feedback__textarea {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.4);
  background-color: var(--grey-shade);
  border: none;
  resize: none;
  width: 760px;
  height: 167px;
  box-sizing: border-box;
  padding-left: 21px;
  padding-top: 18px;
}

.button-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: url("../img/icons/icon-close.svg") no-repeat;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--special-yellow-dark);
  border: none;
  background-position: center;
  opacity: 0.5;
  transition: opacity cubic-bezier(0.6, 0.04, 0.98, 0.335);
  cursor: pointer;
}

.feedback__button {
  display: inline-block;
  width: 200px;
  margin-top: 35px;
}

.button-close:hover {
  opacity: 1;
}

.button-close:active {
  opacity: 0.3;
}

.button-close:focus {
  outline: none;
}

/* СТИЛИЗАЦИЯ КАТАЛОГА */
.header__container--catalog {
  min-height: 186px;
}

.page-catalog__header {
  padding-left: 200px;
  padding-top: 44px;
}

.page-catalog__title {
  margin: 0px;
}

.breadcrumbs {
  display: flex;
  margin-top: 30px;
}

.catalog-columms {
  display: grid;
  grid-template-columns: 0.58fr 1fr;
  margin-top: 50px;
}

.page-title {
  font-family: var(--basic-font);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: var(--basic-black-color);
}

.breadcrumbs__link {
  font-family: var(--second-font);
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black-color);
}

.breadcrumbs__item {
  font-family: var(--second-font);
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black-color);
  opacity: 0.3;
  padding-right: 41px;
}

.catalog-filter {
  background: var(--grey-light-color);
  height: 100%;
}

.catalog-filter__header {
  background: var(--grey-catalog-filter);
  padding: 12px 190px 12px 0;
  text-align: right;
}

.catalog-filter__title {
  font-family: var(--basic-font);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: var(--basic-black-color);
  text-transform: uppercase;
}

.catalog-filter__form {
  margin-left: auto;
  max-width: 200px;
  padding: 69px 68px 0 0px;
}

.catalog-filter__group {
  padding-top: 14px;
  padding-bottom: 92px;
  border-top: 2px solid var(--basic-black-color);
}

.products {
  display: grid;
  grid-template-columns: 360px 360px;
  grid-gap: 48px 40px;
  padding: 69px 0 0 72px;
}

.product-price__title {
  font-family: var(--basic-font);
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: var(--basic-black-color);
}

.product-color__title {
  font-family: var(--basic-font);
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: var(--basic-black-color);
  margin: 0;
}

.product-functions__label {
  font-family: var(--basic-font);
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: var(--basic-black-color);
}

.product-functions__label {
  font-family: var(--second-font);
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black-color);
}

.sorting {
  display: flex;
  align-items: center;
  background: var(--grey-light-color);
  padding: 12px 0 12px 73px;
}

.sorting__list {
  display: flex;
  margin-left: 73px;
}

.sorting__item {
  margin-right: 30px;
}

.sorting__title {
  font-family: var(--basic-font);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: var(--basic-black-color);
  text-transform: uppercase;
}

.sorting__link {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black-color);
}

.sorting__link--type {
  opacity: 0.3;
}

.button-sorting {
  margin-left: 191px;
}

.button-sorting__button {
  background: url(../img/icons/icon-arrow-down.svg);
  width: 11px;
  height: 10px;
  display: inline-block;
  margin-right: 19px;
}

.button-sorting__button--up {
  transform: rotate(180deg);
  opacity: 0.2;
}

.button-sorting__button--down:hover {
  opacity: 0.2;
}

.button-sorting__button:active {
  opacity: 1;
}

.products__details {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 26px;
}

.products__link {
  font-family: var(--basic-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black-color);
}

.products__price {
  font-family: var(--basic-font);
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: var(--basic-black-color);
  white-space: nowrap;
}

.button__comparison {
  font-family: var(--second-font);
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--basic-black-color);
  border: none;
  background-color: Transparent;
}

.pagination {
  background: var(--grey-pagination);
  display: flex;
  justify-content: space-between;
  margin: 40px 0 78px 73px;
  padding: 24px;
  width: 760px;
  box-sizing: border-box;
}

.pagination__list {
  display: flex;
  margin-left: 7px;
}

.pagination__item:not(:last-child) {
  margin-right: 16px;
}

.pagination__button {
  font-family: var(--basic-font);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black-color);
  border: none;
  background-color: Transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.pagination__number {
  font-family: var(--basic-font);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: var(--basic-black-color);
  border: none;
  background-color: Transparent;
}

.pagination__number--two {
  opacity: 0.3;
}

.pagination__number-three {
  opacity: 0.3;
}

.footer--catalog {
  margin-top: 0;
}
